<ion-header >
  <ion-toolbar color="danger">
    <ion-title>Desaku</ion-title>
    <ion-buttons end *ngIf="!ses">
      <button ion-button icon-only (click)="login()">
        <ion-icon name="md-log-in"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="ses">
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="md-log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div #map id="map"></div>
</ion-content>
