<ion-header >
  <ion-toolbar color="danger">
    <ion-title>Desaku</ion-title>
    <ion-buttons end *ngIf="!ses">
      <button ion-button icon-only (click)="login()">
        <ion-icon name="md-log-in"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="ses">
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="md-log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let ar of artikel">
                    <img src="http://sockieshop.com/images/posting/{{ar.idartikel}}.jpg?{{time}}" />
                    <!-- onerror="this.src='assets/icon/avatar.png';" -->
  <ion-card-content>
    <ion-card-title>
      {{ ar.judul }}
      </ion-card-title>
    <p align="justify">
      {{ ar.des }} <a (click)="detail(ar.idartikel)"> readmore >> </a>
    </p>
  </ion-card-content>
    <ion-row no-padding *ngIf="ses">
      <!--<ion-col>-->
        <!--<button ion-button clear small color="danger" icon-start>-->
          <!--<ion-icon name='star'></ion-icon>-->
          <!--Favorite-->
        <!--</button>-->
      <!--</ion-col>-->
      <!--<ion-col text-center>-->
        <!--<button ion-button clear small color="danger" icon-start>-->
          <!--<ion-icon name='musical-notes'></ion-icon>-->
          <!--Listen-->
        <!--</button>-->
      <!--</ion-col>-->
      <ion-col text-right >
        <button ion-button clear small color="danger" icon-start (click)="del(ar.idartikel)">
          <ion-icon name='md-trash'> </ion-icon> Hapus
        </button>
      </ion-col>
    </ion-row>
</ion-card>

<ion-fab right bottom *ngIf="ses">
    <button ion-fab color="danger" (click)="tambah()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
